In [ ]:
# basic select

In [1]:
# Revising the Select Query I
select * from city
where countrycode = 'USA' && population > 100000

SyntaxError: invalid syntax (<ipython-input-1-f05d89a98826>, line 2)

In [ ]:
# Revising the Select Query II
select name from city
where countrycode = 'USA' && population > 120000

In [ ]:
# Select All
select * from city

In [ ]:
# Select By ID
select * from city
where ID = 1661

In [ ]:
# Japanese Cities' Attributes
select * from city
where countrycode = 'JPN'

In [ ]:
# Japanese Cities' Names
select name from city
where countrycode = 'JPN'

In [ ]:
# Weather Observation Station 1
select city, state from station

In [ ]:
# Weather Observation Station 3
select distinct city from station
where (id % 2) = 0

In [ ]:
# Weather Observation Station 4
select count(city) - count(distinct city) as difference from station

In [ ]:
# advanced select
select city, char_length(city) as name_length from station
order by name_length, city
limit 1;

select city, char_length(city) as name_length from station
order by name_length desc, city
limit 1;

In [ ]:
# Type of Triangle
select case
when a+b<=c || b+c<=a || c+a<=b then 'Not A Triangle' 
when a!=b && b!=c && c!=a then 'Scalene'
when a=b && b=c then 'Equilateral'
when (a=b && b!=c) || (b=c && c!=a) || (c=a && a!=b) then 'Isosceles'
end from triangles;

In [ ]:
# The PADS
select concat(name, '(', substr(OCCUPATION, 1, 1), ')') as name_occipation
from OCCUPATIONS
order by name_occipation;

select concat('There are a total of', ' ', count(OCCUPATION), ' ', lower(OCCUPATION), 's.') as total
from OCCUPATIONS
group by OCCUPATION
order by total;

In [ ]:
#